/* Colors */
/* Text size */
@font-face {
  font-family: 'Nunito';
  font-style: italic;
  font-weight: 200;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/nunito/v26/XRXK3I6Li01BKofIMPyPbj8d7IEAGXNiLXA3ig.ttf) format('truetype');
}
@font-face {
  font-family: 'Nunito';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/nunito/v26/XRXK3I6Li01BKofIMPyPbj8d7IEAGXNi83A3ig.ttf) format('truetype');
}
@font-face {
  font-family: 'Nunito';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/nunito/v26/XRXK3I6Li01BKofIMPyPbj8d7IEAGXNirXA3ig.ttf) format('truetype');
}
@font-face {
  font-family: 'Nunito';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/nunito/v26/XRXK3I6Li01BKofIMPyPbj8d7IEAGXNin3A3ig.ttf) format('truetype');
}
@font-face {
  font-family: 'Nunito';
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/nunito/v26/XRXK3I6Li01BKofIMPyPbj8d7IEAGXNic3c3ig.ttf) format('truetype');
}
@font-face {
  font-family: 'Nunito';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/nunito/v26/XRXK3I6Li01BKofIMPyPbj8d7IEAGXNiSnc3ig.ttf) format('truetype');
}
@font-face {
  font-family: 'Nunito';
  font-style: italic;
  font-weight: 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/nunito/v26/XRXK3I6Li01BKofIMPyPbj8d7IEAGXNiLXc3ig.ttf) format('truetype');
}
@font-face {
  font-family: 'Nunito';
  font-style: italic;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/nunito/v26/XRXK3I6Li01BKofIMPyPbj8d7IEAGXNiBHc3ig.ttf) format('truetype');
}
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/nunito/v26/XRXI3I6Li01BKofiOc5wtlZ2di8HDDshRTM.ttf) format('truetype');
}
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/nunito/v26/XRXI3I6Li01BKofiOc5wtlZ2di8HDOUhRTM.ttf) format('truetype');
}
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/nunito/v26/XRXI3I6Li01BKofiOc5wtlZ2di8HDLshRTM.ttf) format('truetype');
}
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/nunito/v26/XRXI3I6Li01BKofiOc5wtlZ2di8HDIkhRTM.ttf) format('truetype');
}
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/nunito/v26/XRXI3I6Li01BKofiOc5wtlZ2di8HDGUmRTM.ttf) format('truetype');
}
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/nunito/v26/XRXI3I6Li01BKofiOc5wtlZ2di8HDFwmRTM.ttf) format('truetype');
}
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/nunito/v26/XRXI3I6Li01BKofiOc5wtlZ2di8HDDsmRTM.ttf) format('truetype');
}
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/nunito/v26/XRXI3I6Li01BKofiOc5wtlZ2di8HDBImRTM.ttf) format('truetype');
}
* {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
  font-weight: 500;
  text-decoration: none;
  color: #ffffff;
}
table {
  border-collapse: collapse;
  margin-bottom: 20px;
}
table th,
table td {
  border: 1px solid #ffffff;
  text-align: left;
  padding: 5px 20px;
}
path,
ellipse {
  fill: #3e4245;
  stroke: #ffffff;
}
svg .active {
  fill: #61892f;
}
.switch-cell {
  border: none;
  width: 30px;
}
.switch-cell img {
  cursor: pointer;
  display: table-cell;
  vertical-align: middle;
  margin: 0 auto;
  width: 30px;
  height: 30px;
}
select {
  color: #ffffff;
  background-color: #3E4245;
  outline: none;
  border: 0;
  font-size: 24px;
  width: 100%;
  text-align: center;
}
select option {
  color: #ffffff;
}
select option ::selection {
  background: #222629;
  color: #ffffff;
}
select option :hover {
  background-color: #222629;
}
select :active {
  border: 0;
}
select :hover {
  background-color: #ffffff;
  color: #222629;
}
input {
  color: #222629;
  outline: none;
  font-size: 24px;
  height: 50px;
  border: none;
  border-radius: 20px;
  padding: 2px 20px;
  margin: 10px 0;
  display: block;
}
::selection {
  background: #222629;
  /* Цвет фона */
}
body {
  background-color: #3e4245;
  height: 100%;
}
header {
  height: 100px;
  background-color: #61892f;
  align-items: center;
  display: flex;
}
header a {
  display: flex;
  width: 350px;
  margin: 0 40px;
  font-size: 34px;
  box-sizing: border-box;
  align-items: center;
}
header h1 {
  display: block;
  margin: 0 40px;
  font-size: 34px;
  box-sizing: border-box;
}
ul {
  margin-bottom: 30px;
}
li {
  margin: 5px 0;
  list-style-type: none;
  font-size: 18px;
}
.data-tables {
  display: block;
  font-size: 24px;
  padding: 20px 40px;
}
.data-tables table {
  width: 45vw;
  margin: 0 0 40px 0;
}
.data-tables table .remove {
  background-color: #b13535;
  text-decoration: line-through;
}
.data-tables table .remove :last-child {
  background-color: #3e4245;
}
.wrong {
  background-color: #b13535;
}
main {
  background-color: #3e4245;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 89.3vh;
}
.main-content {
  flex-direction: row;
}
.welcome-section {
  width: 30%;
  padding: 20px 40px;
  background-color: #222629;
}
.welcome-section h2 {
  color: #86c232;
  font-size: 34px;
  margin: 20px 0;
}
.welcome-section p {
  font-size: 24px;
  margin-bottom: 20px;
}
.tasks-section {
  width: 70%;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
}
.tasks-section h2 {
  color: #86c232;
  font-size: 34px;
  margin: 20px 0;
  min-height: 150px;
}
.tasks-section a {
  font-size: 24px;
}
.tasks-section li a {
  border-bottom: dotted #222629 4px;
}
.tasks-section li :hover {
  color: #86c232;
}
.tasks-section div {
  min-width: 290px;
  width: 30%;
}
.content {
  display: flex;
  justify-content: space-between;
}
.result {
  font-size: 24px;
  margin-bottom: 20px;
}
.module-content {
  width: 50%;
  padding: 20px 40px;
}
.module-content h2 {
  color: #86c232;
  font-size: 34px;
  margin: 20px 0;
}
.module-content p {
  font-size: 24px;
  margin-bottom: 20px;
}
.numeric-range {
  display: flex;
  justify-content: space-around;
  font-size: 18px;
  box-sizing: border-box;
  margin-bottom: 20px;
}
.numeric-range span {
  min-width: 45px;
  text-align: center;
}
.btn {
  padding: 10px 0;
  background-color: #61892f;
  border-radius: 20px;
  font-size: 24px;
  align-items: center;
  text-align: center;
  width: 250px;
  color: #ffffff;
  cursor: pointer;
}
.report-btn {
  margin: 0 auto;
}
.prev-next-buttons {
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
}
/* Для экранов ≥576px */
@media (min-width: 576px) {
  header h1 {
    margin: 0;
  }
  .main-content {
    flex-direction: column;
  }
  .welcome-section {
    width: 100%;
    box-sizing: border-box;
  }
  .tasks-section {
    box-sizing: border-box;
    flex-direction: column;
    width: 90%;
  }
  .tasks-section div {
    width: 100%;
  }
  .tasks-section h2 {
    min-height: auto;
  }
  .data-tables table {
    width: 100%;
  }
  .content {
    padding: 5px 0;
    flex-direction: column;
  }
  .module-content {
    width: 85%;
  }
  .report-btn {
    float: left;
  }
}
/* Для экранов ≥768px */
/* Для экранов ≥992px */
@media (min-width: 992px) {
  header a {
    font-size: 28px;
    margin: 0 20px;
  }
  header h1 {
    font-size: 28px;
    margin: 0 20px;
  }
  select {
    font-size: 18px;
  }
  input {
    font-size: 18px;
  }
  li {
    font-size: 12px;
  }
  .main-content {
    flex-direction: row;
  }
  .welcome-section {
    width: 30%;
  }
  .welcome-section h2 {
    font-size: 28px;
  }
  .welcome-section p {
    font-size: 18px;
  }
  .tasks-section {
    flex-direction: row;
    flex-wrap: wrap;
    width: 70%;
  }
  .tasks-section div {
    width: 30%;
  }
  .tasks-section h2 {
    min-height: 110px;
    font-size: 28px;
  }
  .tasks-section a {
    font-size: 18px;
  }
  .content {
    padding: 10px 0;
    flex-direction: row;
  }
  .module-content {
    padding: 10px 20px;
    width: 50%;
  }
  .module-content p {
    font-size: 18px;
  }
  .data-tables {
    font-size: 18px;
    padding: 10px 20px;
  }
  .report-btn {
    float: none;
  }
  .btn {
    padding: 10px 0;
    border-radius: 20px;
    font-size: 18px;
    width: 190px;
  }
}
/* Для экранов ≥1200px */
@media (min-width: 1200px) {
  header a {
    font-size: 32px;
    margin: 0 30px;
  }
  header h1 {
    font-size: 32px;
  }
  select {
    font-size: 22px;
  }
  input {
    font-size: 22px;
  }
  li {
    font-size: 16px;
  }
  .welcome-section h2 {
    font-size: 32px;
  }
  .welcome-section p {
    font-size: 22px;
  }
  .tasks-section h2 {
    min-height: 172px;
    font-size: 32px;
  }
  .tasks-section a {
    font-size: 22px;
  }
  .content {
    padding: 10px 0;
    margin: 0;
  }
  .module-content {
    padding: 10px 30px;
  }
  .module-content p {
    font-size: 22px;
  }
  .data-tables {
    font-size: 22px;
    padding: 10px 40px;
  }
  .data-tables table {
    width: 45vw;
  }
  .btn {
    padding: 10px 0;
    border-radius: 20px;
    font-size: 22px;
    width: 220px;
  }
}
/* Для экранов ≥1400px */
@media (min-width: 1400px) {
  header a {
    font-size: 34px;
    margin: 0 40px;
  }
  header h1 {
    font-size: 34px;
  }
  select {
    font-size: 24px;
  }
  input {
    font-size: 24px;
  }
  li {
    font-size: 18px;
  }
  table th,
  table td {
    padding: 5px 20px;
  }
  .welcome-section h2 {
    font-size: 34px;
  }
  .welcome-section p {
    font-size: 24px;
  }
  .tasks-section h2 {
    min-height: 184px;
    font-size: 34px;
  }
  .tasks-section a {
    font-size: 24px;
  }
  .content {
    padding: 10px 0;
  }
  .module-content {
    padding: 20px 40px;
  }
  .module-content p {
    font-size: 24px;
  }
  .data-tables {
    font-size: 24px;
    padding: 20px 40px;
  }
  .btn {
    padding: 10px 0;
    border-radius: 20px;
    font-size: 24px;
    width: 250px;
  }
}
